{% load static %}

<!-- Footer Start -->
<div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5" id="#contact">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="" class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0"
               style="font-size: 40px; line-height: 40px;">
                <i class="flaticon-028-kindergarten h1 font-weight-normal text-primary mb-3"></i>
                <span class="text-white">1-DMTM</span>
            </a>
            <p>Bizning bolalar bog'chamiz juda chiroyli, qulay, ishonchli va funktsionaldir.
                Siz orzu qilgan deyarli hamma narsa mavjud.</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h3 class="text-primary mb-4">Manzilimiz</h3>
            <div class="d-flex">
                <h4 class="fa fa-map-marker-alt text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">Manzil</h5>
                    <p>Jizzax viloyati</p>
                </div>
            </div>
            <div class="d-flex">
                <h4 class="fa fa-envelope text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">E-mail</h5>
                    <p>1-sonliDTMM@gmail.com</p>
                </div>
            </div>
            <div class="d-flex">
                <h4 class="fa fa-phone-alt text-primary"></h4>
                <div class="pl-3">
                    <h5 class="text-white">Telefon raqam</h5>
                    <p>+998(91) 630-60-06</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h3 class="text-primary mb-4">Menyular</h3>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Bosh sahifa</a>
                <a class="text-white mb-2" href="#about"><i class="fa fa-angle-right mr-2"></i>Biz haqimizda</a>
                <a class="text-white mb-2" href="#classes"><i class="fa fa-angle-right mr-2"></i>To'garaklar</a>
                <a class="text-white mb-2" href="#team"><i class="fa fa-angle-right mr-2"></i>Jamoamiz</a>
                <a class="text-white mb-2" href="#galery"><i class="fa fa-angle-right mr-2"></i>Galereya</a>
                <a class="text-white" href="#contact"><i class="fa fa-angle-right mr-2"></i>Aloqa</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h3 class="text-primary mb-4">Yangiliklardan boxabar bo'ling</h3>
            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control border-0 py-4" placeholder="Ismingiz" required="required"/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control border-0 py-4" placeholder="E-mail pochtangiz"
                           required="required"/>
                </div>
                <div>
                    <button class="btn btn-primary btn-block border-0 py-3" type="submit">Yuborish</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid pt-5 wow animate__animated animate__pulse"
         style="border-top: 1px solid rgba(23, 162, 184, .2);;">
        <p class="m-0 text-center text-white">
            &copy; <a class="text-primary font-weight-bold" href="#">1-DMTM</a>. Xizmatlar litsenziyalangan. Tayyorladi:
            <a class="text-primary font-weight-bold" href="https://delx.uz/">DelX IT Group</a>
        </p>
    </div>
</div>
<!-- Footer End -->
