{% load static %}

    <!-- Navbar Start -->
    <div class="container-fluid bg-light position-relative shadow">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
            <a href="#" class="navbar-brand font-weight-bold text-secondary" style="font-size: 40px;">
                <i class="flaticon-028-kindergarten h1 font-weight-normal text-primary mb-3"></i>
                <span class="text-primary">1-DMTM</span>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav font-weight-bold mx-auto py-0">
                    <a href="#" class="nav-item nav-link active">Bosh sahifa</a>
                    <a href="#about" class="nav-item nav-link">Biz haqimizda</a>
                    <a href="#classes" class="nav-item nav-link">To'garaklar</a>
                    <a href="#team" class="nav-item nav-link">Jamoamiz</a>
                    <a href="#comments" class="nav-item nav-link">Fikrlar</a>
                    <a href="#register" class="nav-item nav-link">Aloqa</a>
                </div>
                <a href="tel:+998991035505" class="btn btn-primary px-4">Kursga qo'shilish</a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
